.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: #000;
  opacity: 1;
  transition: opacity 0.3s linear;
  margin-top: 7px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}