.header__img {
  align-self: start;
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
}

@media screen and (max-width: 578px) {
  .header__img {
    margin-left: 27px;
    margin-bottom: 31px;
    width: 103px;
    height: 24px;
  }
}