.profile {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

@media screen and (max-width: 880px) {
  .profile {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 578px) {
  .profile {
    margin-top: 42px 0 0 0;
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
}