.cards__button {
  background-color: #fff;
  border: 0;
  width: 22px;
  height: 22px;
  opacity: 1;
  transition: opacity 0.3s linear;
  margin-right: 15px;
  margin-top: 5px;
}

.cards__button:hover {
  opacity: 0.6;
}