.profile__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 578px) {
  .profile__info {
    font-size: 14px;
    line-height: 17px;
  }
}