.footer {
  margin-top: 66px;
  margin-bottom: 60px;
}

@media screen and (max-width: 880px) {
  .footer {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 578px) {
  .footer {
    width: 282px;
    margin: 48px auto 36px auto;
  }
}